main{
    display: flex;
}

.filters_section{
    width: 20%;
    height: 100vh;

    background-color: rgba(128, 117, 117, 0.37);

    padding-top: 120px;
    padding-left: 20px;
    padding-right: 25px;

    border-right: 2px solid rgba(128, 117, 117, 1);
}

.filters_section h1{
    font-size: 35px;
    font-weight: 600;

    border-bottom: 1px solid black;
}

.filter_inputs{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 12px;

    margin-top: 30px;
    margin-left: 20px;
}

.filter_container{
    font-weight: 500;
    font-size: 22px;
}

.filter_container input{
    margin-right: 10px;
}

.library{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    padding-top: 120px;

    gap: 40px;

    width: 100%;
}

.search_and_pages{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60%;
}

.paging{
    display: flex;
    gap: 15px;
}

.paging div{
    padding: 10px 20px;
    border-radius: 10px;

    background-color: rgba(128, 117, 117, 0.37);
}
.paging div a{
    text-decoration: none;
    color: black;
}

.search__library {
    width: 40%;
    height: 45px;
    padding: 0 40px;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.26);
 }
 
 .search__library::placeholder {
    color: rgba(0, 0, 0, 0.26);
 }

.library_containers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    max-width: 90%;

    gap: 100px;
}

.library h1{
    font-size: 60px;
    color: rgba(0, 53, 142, 1);
}

.content_container{
    width: 300px;
    height: 250px;
    border: 3px solid rgba(52, 197, 228, 1);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content_container .test_img{
    width: 120px;
    height: 100px;

    background-color: gray;
}