.Quiz {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70%;
   width: 100%; 
}
main {
   display: flex;
   flex-direction: column;
   height: 50%;
   background-color: white;
   padding: 70px;
   border-radius: 50px;
   width: 50%;
   align-items: center;
   justify-content: center;

 }

 .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
 }
 
 .logo__eurofarma {
    width: 60%;
 }
 
 .search__library {
    width: 65%;
    height: 75px;
    padding: 0 40px;
    border-radius: 50px;
    font-size: 40px;
    border: 1px solid rgba(0, 0, 0, 0.26);
 }
 
 .search__library::placeholder {
    color: rgba(0, 0, 0, 0.26);
 }
 
 .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 170px;
    width: 100%;
 }

 

 .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 85px;
    border-radius: 50px;
    font-size: 50px;
    color: white;
    background-color: #34C5E4;
    border: none;
 }
 
 .left {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
 }
 
 .right {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.26);
 }

 .content {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
 }
 
 .spnQtd {
   text-align: end;
 }
 
 .answers {
   display: flex;
   flex-direction: column;
   gap: 5px;
 }
 
 button {
   width: 100%;
   text-align: start;
   padding: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: #008CCC;
   color: white;
 }
 
 .finish {
   display: none;
   flex-direction: column;
   gap: 10px;
 }
 
 .finish button {
   text-align: center;
 }

 .top__section {
   width: 100%;
   padding: 100px 50px 0px 50px ;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.top__section h1 {
   color: #00358E;
   font-size: 50px;
   margin-right: 60px;
}

.button-voltar {
   background-color: #00358E;
   color: white;
   width: 14.438rem;
   height: 3.75rem;
   border: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   margin: 0;
}
