main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100%;
}

.search {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
}

.logo__eurofarma {
   width: 60%;
}

.search__library {
   width: 65%;
   height: 75px;
   padding: 0 40px;
   border-radius: 50px;
   font-size: 40px;
   border: 1px solid rgba(0, 0, 0, 0.26);
}

.search__library::placeholder {
   color: rgba(0, 0, 0, 0.26);
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 100px 170px;
   width: 100%;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 380px;
   height: 85px;
   border-radius: 50px;
   font-size: 50px;
   color: white;
   background-color: #34C5E4;
   border: none;
}

.left {
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}

.right {
   box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.26);
}