@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: #D9D9D9;
}

.home__header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34C5E4;
    padding: 20px 10px;
    width: 100%;
    height: 70px;
}

.logo__matamba {
    height: 60px;
    margin: 0 20px;
}

.header__right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__right>.user__section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header__right img {
    mix-blend-mode: color-burn;
    width: 30px;
}