.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100%;
}

.main h1 {
   color: #00358E;
   margin-bottom: 200px;
   font-size: 50px;
   font-weight: 700;
}

.journey__step {
   width: 80%;
   margin-bottom: 200px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.line__steps {	
   position: absolute;
   text-align: center;
   width: 80%;	   width: 80%;
}

.steps {
   display: flex;
   justify-content: space-between;
   margin: 0 75px;
   width: 100%;
   z-index: 1;
}

.step {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: #34C5E4;
   aspect-ratio: 1/1;
   width: 75px;
   font-size: 33px;
   font-weight: 700;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   color: #fff;
   cursor: pointer;
}

.step__box:hover .box__module {
   opacity: 1;
}

.step__box:not(:hover) .box__module {
   display: none;
}

.box__module {
   opacity: 0;
   z-index: -100;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: -100px;
   margin-top: 40px;
   width: 275px;
   height: clamp(100px, 200px, 50%);
   background: #00358E;
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   color: #fff;
   transition: .5s;
   gap: 20px;
   font-size: 20px;
   color: #fff;
}

.box__module::before {
   content: '';
   position: absolute;
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 40px solid #00358E;
   top: -40px;
   left: 50%;
   transform: translateX(-50%);
}

.box__module > a {
   color: #fff;
   font-size: 30px;
   font-weight: 700;
}

.box__module ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.box__module ul a {
   color: #fff;
}